
<h1>Seznam letů</h1>
<div class="filter">
  <fieldset>
    <legend>Vyhledávání</legend>
    <form name="filterForm" ng-submit="doFilter()" class="control-group">
      <div class="row">
        <div class="control-group span3">
          <label class="control-label">Odkud</label>
          <div class="controls">
            <input type="text" name="fromDestination" ng-model="_filter.fromDestination"/>
          </div>
        </div>
        <div class="control-group span3">
          <label class="control-label">Odlet</label>
          <div class="controls">
            <input type="datetime" date-time="date-time" ng-model="_filter.departureTime" name="departureTime" required="required" max-view="date"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="control-group span3">
          <label class="control-label">Kam</label>
          <div class="controls">
            <input type="text" name="toDestination" ng-model="_filter.toDestination"/>
          </div>
        </div>
        <div class="control-group span3">
          <label class="control-label">Přílet</label>
          <div class="controls">
            <input type="datetime" date-time="date-time" ng-model="_filter.arrivalTime" name="arrivalTime" required="required" max-view="date"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="control-group span3">
          <label class="control-label">Dopravce</label>
          <div class="controls">
            <select ng-options="c._id as c.name for c in carriersList" ng-model="_filter.carrier">
              <option value="">- vyberte -</option>
            </select>
          </div>
        </div>
      </div>
      <div class="btn-toolbar">
        <input type="submit" value="Vyhledat" ng-disabled="form.$invalid" class="btn btn-primary"/><a ng-click="resetFilter()" class="btn">Smazat filtr</a>
      </div>
    </form>
  </fieldset>
  <!--div
  <div>_filter</div>
  <pre>{{_filter | json}}</pre>
  <div>filter</div>
  <pre>{{filter | json}}</pre>
  -->
</div>
<div ng-show="totalItems == 0" class="alert">Nejsou k dispozici žádné záznamy.</div>
<div class="content-menu"><a ng-href="/flights/new" ng-if="isAdmin" class="btn btn-new"><i class="icon icon-plus-sign"></i>&nbsp;Nový let</a></div>
<div class="content-main">
  <spinner show="loadingData" align="center"></spinner>
  <div ng-show="totalItems &gt; 0" class="table-container">
    <table sortable-table="sortable-table" sort-column="sort.column" sort-dir="sort.dir" ng-style="getTableVisibilityStyle()" class="table table-bordered">
      <tr ng-repeat="flight in flights">
        <td data-title="Odlet (destinace)" sortable="fromDestination" class="with-logo"><span>{{flight.fromDestination}}</span><img ng-src="{{getArrivalCarrierLogo(flight)}}" ng-show="getArrivalCarrierLogo(flight)"/></td>
        <td data-title="Odlet (čas)" sortable="arrivalTime">{{flight.arrivalTime | date: 'medium'}}</td>
        <td data-title="Přílet (destinace)" sortable="toDestination" class="with-logo"><span>{{flight.toDestination}}</span><img ng-src="{{getDepartureCarrierLogo(flight)}}" ng-show="getDepartureCarrierLogo(flight)"/></td>
        <td data-title="Přílet (čas)" sortable="departureTime">{{flight.departureTime | date: 'medium'}}</td>
        <td data-title="Délka letu" sortable="totalFlightDuration">{{flight.totalFlightDuration | minutesFormatter}}</td>
        <td data-title="Cena" sortable="price">{{flight.price | currency}}</td>
        <td data-title="Poznámka" sortable="note">{{flight.note}}</td>
        <td data-title="Kapacita (volné místo)" sortable="capacity">{{flight.capacity}}
          <ng-switch on="isFreeCapacity(flight)"><i ng-switch-when="true" class="icon-ok"></i><i ng-switch-when="false" class="icon-remove"></i></ng-switch>
        </td>
        <td data-title="Počet přestupů" sortable="transfersCount">{{flight.transfersCount}}</td>
        <td data-title="Vytvořeno" sortable="lastModified">{{flight.lastModified | date: 'd.M.yy H:mm'}}</td>
        <td class="icon"><a ng-click="editFlight(flight)" href="#" class="btn btn-info"><span class="icon-pencil"></span></a><a ng-click="removeFlight(flight)" href="#" class="btn btn-danger"><span class="icon-remove-sign"></span></a></td>
      </tr>
    </table>
    <pagination total-items="totalItems" page="currentPage" max-size="5" on-select-page="selectPage(page)" items-per-page="itemsPerPage" num-pages="totalPages" boundary-links="true" class="pagination"></pagination>
    <div class="itemsCount">Počet záznamů na stránku:
      <select ng-model="itemsPerPage" ng-options="i for i in itemsPerPageList"></select>
    </div>
    <div class="total">Stránka: {{currentPage}} / {{totalPages}}</div>
  </div>
</div>