
<h1>Seznam letů</h1><a ng-href="/flights/new" ng-if="isAdmin" class="btn btn-success"><i class="icon icon-plus-sign"></i>&nbsp;Nový let</a>
<div class="filter">
  <fieldset>
    <legend>Filtr</legend>
    <div ng-show="!isFilterOn &amp;&amp; filter" class="alert">Máte nastaven filtr.</div><a ng-click="isFilterOn = true" ng-hide="isFilterOn" href="#" class="btn">Zobrazit filtr</a>
    <form ng-show="isFilterOn" name="filterForm" ng-submit="doFilter()" class="control-group">
      <div class="row">
        <div class="control-group span4">
          <label class="control-label">Odkud</label>
          <div class="controls">
            <input type="text" name="fromDestination" ng-model="_filter.fromDestination" typeahead="suggestion for suggestion in getCities($viewValue)"/>
          </div>
        </div>
        <div class="control-group span4">
          <label class="control-label">Odlet</label>
          <div class="range-selection">
            <div class="dropdown"><a class="dropdown-toggle btn"><span ng-if="_filter.departureTimeFrom &amp;&amp; _filter.departureTimeTo">{{ _filter.departureTimeFrom | date }} - {{ _filter.departureTimeTo | date }}</span><span ng-if="!_filter.departureTimeFrom || !_filter.departureTimeTo">Vyberte...</span></a>
              <div ng-click="$event.preventDefault();$event.stopPropagation()" class="dropdown-menu">
                <div date-range="date-range" start="_filter.departureTimeFrom" end="_filter.departureTimeTo"></div>
              </div>
            </div><a href="#" ng-click="cancelDateFilter('departure')" ng-show="_filter.departureTimeFrom &amp;&amp; _filter.departureTimeTo" class="clear btn btn-danger"><i class="icon-remove-sign"></i></a>
          </div>
        </div>
        <div class="control-group span4">
          <label class="control-label">Cena</label>
          <div class="controls">
            <div range-slider="range-slider" min="10" max="999" model-min="_filter.priceFrom" model-max="_filter.priceTo" filter="currency"></div>
          </div>
        </div>
        <div class="control-group span4">
          <label class="control-label">Maximální počet přestupů</label>
          <label class="checkbox">
            <input type="checkbox" ng-model="_filter.onlyDirectFlight"/>pouze přímé lety
          </label>
          <div class="controls">
            <input type="number" ng-model="_filter.maxTransfersCount" name="maxTransfersCount" ng-hide="_filter.onlyDirectFlight"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="control-group span4">
          <label class="control-label">Kam</label>
          <div class="controls">
            <input type="text" name="toDestination" ng-model="_filter.toDestination" typeahead="suggestion for suggestion in getCities($viewValue)"/>
          </div>
        </div>
        <div class="control-group span4">
          <label class="control-label">Přílet</label>
          <div class="range-selection">
            <div class="dropdown"><a class="dropdown-toggle btn"><span ng-if="_filter.arrivalTimeFrom &amp;&amp; _filter.arrivalTimeTo">{{ _filter.arrivalTimeFrom | date }} - {{ _filter.arrivalTimeTo | date }}</span><span ng-if="!_filter.arrivalTimeFrom || !_filter.arrivalTimeTo">Vyberte...</span></a>
              <div ng-click="$event.preventDefault();$event.stopPropagation()" class="dropdown-menu">
                <div date-range="date-range" start="_filter.arrivalTimeFrom" end="_filter.arrivalTimeTo"></div>
              </div>
            </div><a href="#" ng-click="cancelDateFilter('arrival')" ng-show="_filter.arrivalTimeFrom &amp;&amp; _filter.arrivalTimeTo" class="clear btn btn-danger"><i class="icon-remove-sign"></i></a>
          </div>
        </div>
        <div class="control-group span4">
          <label class="control-label">Maximální délka letu (v hodinách)</label>
          <div class="controls">
            <input type="number" name="totalFlightDuration" ng-model="_filter.totalFlightDuration"/>
          </div>
        </div>
      </div>
      <div class="btn-toolbar">
        <input type="submit" value="Vyhledat" ng-disabled="filterForm.$invalid" class="btn btn-primary"/><a ng-click="resetFilter()" class="btn btn-danger">Smazat filtr</a><a ng-click="isFilterOn = false" class="btn">Skrýt filtr</a>
      </div>
    </form>
  </fieldset>
  <!--div
  <div>_filter</div>
  <pre>{{_filter | json}}</pre>
  <div>filter</div>
  <pre>{{filter | json}}</pre>
  -->
</div>
<div ng-show="totalItems == 0 &amp;&amp; !loadingData" class="alert">Nejsou k dispozici žádné záznamy.</div>
<div class="content-main">
  <spinner show="loadingData" align="center"></spinner>
  <div ng-show="totalItems &gt; 0" class="table-container">
    <fieldset>
      <legend>Vyhledané záznamy ({{ totalItems }})</legend>
      <div class="table-pager">
        <my-pagination></my-pagination><span class="items-count">Počet záznamů na stránku:
          <select ng-model="itemsPerPage" ng-options="i for i in itemsPerPageList"></select></span>
      </div>
      <table sortable-table="sortable-table" sort-column="sort.column" sort-dir="sort.dir" ng-style="getTableVisibilityStyle()" class="table table-bordered">
        <tr ng-repeat="flight in flights">
          <td data-title="Odlet (destinace)" sortable="fromDestination" class="with-logo"><span>{{flight.fromDestination}}</span><img ng-src="{{getArrivalCarrierLogo(flight)}}" ng-show="getArrivalCarrierLogo(flight)"/></td>
          <td data-title="Odlet (čas)" sortable="departureTime">{{flight.departureTime | date: 'medium'}}</td>
          <td data-title="Přílet (destinace)" sortable="toDestination" class="with-logo"><span>{{flight.toDestination}}</span><img ng-src="{{getDepartureCarrierLogo(flight)}}" ng-show="getDepartureCarrierLogo(flight)"/></td>
          <td data-title="Přílet (čas)" sortable="arrivalTime">{{flight.arrivalTime | date: 'medium'}}</td>
          <td data-title="Délka letu" sortable="totalFlightDuration">{{flight.totalFlightDuration | minutesFormatter}}</td>
          <td data-title="Cena" sortable="price">{{flight.price | currency}}</td>
          <td data-title="Poznámka" sortable="note">{{flight.note}}</td>
          <td data-title="Kapacita (volné místo)" sortable="capacity">{{flight.capacity}}
            <ng-switch on="isFreeCapacity(flight)"><i ng-switch-when="true" class="icon-ok"></i><i ng-switch-when="false" class="icon-remove"></i></ng-switch>
          </td>
          <td data-title="Počet přestupů" sortable="transfersCount">
            <ng-switch on="flight.transfersCount"><span ng-switch-when="0">přímý let</span><span ng-switch-default="false">{{flight.transfersCount}}</span></ng-switch>
          </td>
          <td data-title="Vytvořeno" sortable="lastModified">{{flight.lastModified | date: 'd.M.yy H:mm'}}</td>
          <td class="icon"><a ng-click="editFlight(flight)" href="#" class="btn btn-info"><span class="icon-pencil"></span></a><a ng-click="removeFlight(flight)" href="#" class="btn btn-danger"><span class="icon-remove-sign"></span></a></td>
        </tr>
      </table>
      <div class="table-pager">
        <my-pagination></my-pagination><span class="items-count">Počet záznamů na stránku:
          <select ng-model="itemsPerPage" ng-options="i for i in itemsPerPageList"></select></span>
      </div>
    </fieldset>
  </div>
</div>