
<h1>{{formTitle}}</h1>
<div ng-show="noData">
  <div class="alert alert-error">Záznam nebyl nalezen.</div><a ng-href="/carriers" class="btn span2">Zpět na seznam</a>
</div>
<form name="form" ng-hide="noData" ng-submit="save()" class="form-horizontal carrier-edit">
  <spinner show="loadingData" align="center"></spinner>
  <div ng-hide="loadingData" class="wrap">
    <fieldset>
      <legend>Základní údaje</legend>
      <div class="control-group">
        <label class="control-label">Logo</label>
        <div class="controls">
          <input type="file" file-upload="file-upload"/><img ng-src="{{logoSrc}}" ng-show="isLogoVisible()"/>&nbsp;<a ng-click="removeLogo()" ng-show="isLogoVisible()" href="#" class="btn"><i class="icon-remove">&nbsp;</i></a><a ng-click="addLogo()" ng-hide="isLogoVisible()" href="#" class="btn"><i class="icon-plus-sign">&nbsp;</i></a>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Název</label>
        <div class="controls">
          <input type="text" name="name" ng-model="carrier.name" required="required"/><span ng-show="showErrorMessage(form.name)" class="text-error">Vyplňte název.</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Zakázáno</label>
        <div class="controls">
          <input type="checkbox" ng-model="carrier.disabled"/>
        </div>
      </div>
    </fieldset>
    <div class="btn-toolbar"><a ng-href="/carriers" class="btn">Zpět na seznam</a>
      <input type="submit" value="Uložit" ng-disabled="form.$invalid" class="btn btn-primary"/>
    </div>
  </div>
</form>