table thead th.sortable {
  background: url('/static/img/sortable.gif') no-repeat center right;
  cursor: pointer;
}
table thead th.sorted {
  background-color: #F5F5F5 !important;
}
table thead th.sorted.asc {
  background: url('/static/img/asc.gif') no-repeat right center;
}
table thead th.sorted.desc {
  background: url('/static/img/desc.gif') no-repeat right center;
}
.pagination {
  cursor: pointer;
}
.control-group .text-error {
  padding-left: 10px;
}
.wrap {
  position: relative;
}
.spinner-wrap {
  margin-top: 20px;
  width: 15px;
  margin-left: 15px;
}
td.icon {
  width: 85px;
}
td.icon .btn-info {
  margin-right: 5px;
}
tr:nth-child(even) {
  background: #f9f9f9;
}
.users-list-content .btn-new-user {
  margin-bottom: 20px;
}
