
<div class="modal-header">
  <button type="button" aria-hidden="true" ng-click="closeModal()" class="close">&times;</button>
  <h3>Úprava propojení</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label">Email</label>
      <div class="controls"><span>{{user.relationName}}</span></div>
    </div>
    <div class="control-group">
      <label class="control-label">Název</label>
      <div class="controls">
        <input type="text" ng-model="user.relationName"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Práva</label>
      <div class="controls">
        <select ng-model="user.access" ng-options="a.value as a.name for a in accessList"></select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Zasílat emaily</label>
      <div class="controls">
        <input type="radio" ng-model="user.sendNotice" value="1"/><span>Ano</span>
        <input type="radio" ng-model="user.sendNotice" value="0"/><span>Ne</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Měsíční limit</label>
      <div class="controls">
        <input type="text" ng-model="user.agencyLimit"/>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer"><a ng-click="disconnectAccount()" href="#" class="btn btn-danger">Odpojit účet</a><a ng-click="saveChanges()" href="#" class="btn btn-success">Uložit změny</a></div>