
<div class="modal-header">
  <button type="button" aria-hidden="true" ng-click="closeModal()" class="close">&times;</button>
  <h3>Požádat o přístup</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label">Účet</label>
      <div class="controls">
        <input type="text" ng-model="request.name"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Práva</label>
      <div class="controls">
        <select ng-model="request.access" ng-options="a.value as a.name for a in accessList"></select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer"><a ng-click="requestAccess()" href="#" class="btn btn-success">Požádat o přístup</a></div>