
<div class="users-content">
  <h1>Spravované účty</h1><a ng-click="requestAccess()" href="#" class="btn btn-success"><span class="icon-plus-sign"></span>&nbsp;Požádat o přístup</a>
  <table sortable-table="sortable-table" sort-column="sort.column" sort-dir="sort.dir" class="table">
    <tr ng-repeat="user in users">
      <td data-title="Název" sortable="relationName">{{user.relationName}}</td>
      <td data-title="Stav" sortable="agencyStatus">{{user.agencyStatus}}</td>
      <td data-title="Zasílat e-maily" sortable="sendNotice">{{user.sendNotice}}</td>
      <td data-title="Měsíční limit" sortable="agencyLimit">{{user.agencyLimit}}</td>
      <td><a ng-click="editUser(user)" href="#" class="icon-pencil"></a></td>
    </tr>
  </table>
  <pagination total-items="totalItems" page="currentPage" max-size="5" on-select-page="selectPage(page)" items-per-page="itemsPerPage" num-pages="totalPages" boundary-links="true" class="pagination"></pagination>
  <div class="itemsCount">Počet záznamů na stránku:
    <select ng-model="itemsPerPage" ng-options="i for i in limitsList"></select>
  </div>
  <div class="total">Stránka: {{currentPage}} / {{totalPages}}</div>
</div>