h1 {{formTitle}}

div(ng-show="noData")
	div.alert.alert-error Záznam nebyl nalezen.
	a.btn.span2(ng-href="/flights") Zpět na seznam

form.form-horizontal.flight-edit(name="form", ng-hide="noData", ng-submit="save()")
	spinner(show="loadingData", align="center")

	div.wrap(ng-hide="loadingData")
		fieldset
			legend Základní údaje

			.control-group(ng-show="flight._id")
				label.control-label Kód
				.controls
					span {{flight._id}}

			.control-group
				label.control-label Cena
				.controls
					span.input-group-addon
						i.glyphicon.glyphicon-calendar
					input(type='number', step="any", min="0", name="price", ng-model="flight.price", required)
					span.text-error(ng-show="showErrorMessage(form.price)") Vyplňte cenu.
					span.text-error(ng-show="showErrorMessage(form.price, 'number')") Cena musí být číselná hodnota.
					span.text-error(ng-show="showErrorMessage(form.price, 'min')") Cena nesmí být záporné číslo.

			.control-group
				label.control-label Kapacita letu
				.controls
					input(type='number', name="capacity", ng-model="flight.capacity", required)
					span.text-error(ng-show="showErrorMessage(form.capacity)") Vyplňte kapacitu letu.
					span.text-error(ng-show="showErrorMessage(form.capacity, 'number')") Kapacita letu musí být číselná hodnota.

			.control-group
				label.control-label Poznámka
				.controls
					textarea(ng-model="flight.note")

			.control-group(ng-show="getFromDestination()")
				label.control-label Odkud
				.controls
					span {{getFromDestination()}}

			.control-group(ng-show="getToDestination()")
				label.control-label Kam
				.controls
					span {{getToDestination()}}

			.control-group(ng-show="getTotalTime()")
				label.control-label Celková délka letu
				.controls
					span {{getTotalTime()}}

		fieldset
			legend Trasa letu

			table.table.table-bordered.path
				thead
					tr
						th Přepravce
						th Odlet (čas)
						th Odlet (destinace)
						th Přílet (čas)
						th Přílet (destinace)
						th Délka letu
				tbody
					tr(ng-repeat="pathPart in flight.path")
						td
							select(ng-options="c._id as c.name for c in carriersList", ng-model="pathPart.carrier")
							| &nbsp;
							img.carrier-logo(ng-show="makeLogoUrl(pathPart.carrier)", ng-src="{{makeLogoUrl(pathPart.carrier)}}")
						td
							input(type="datetime", date-time, ng-model="pathPart.departureTime", required, view="hours")
						td
							input(type="text", ng-model="pathPart.fromDestination", required)
						td
							input(type="datetime", date-time, ng-model="pathPart.arrivalTime", required, view="hours")
						td
							input(type="text", ng-model="pathPart.toDestination", required)
						td
							span {{ getPathPartLength(pathPart) }}
						td
							a.btn.btn-danger(ng-click="removePathPart(pathPart)", ng-show="flight.path.length > 1", href="#")
								span.icon-remove-sign

					tr(ng-show="!flight.path.length")
						td(colspan="7") Přidejte trasu.
				tfoot
					tr
						td(colspan="7")
							a.btn(ng-click="addPathPart()", href="#")
								i.icon-plus-sign &nbsp;
								| Přidat část trasy

		div.btn-toolbar
			a.btn(ng-href="/flights") Zpět na seznam
			input.btn.btn-primary(type="submit", value="Uložit", ng-disabled="form.$invalid")

		pre {{flight | json}}
