h1 Seznam přepravců

div.alert(ng-show="totalItems == 0 && !loadingData") Nejsou k dispozici žádné záznamy.

div.content-menu
	a.btn.btn-new(ng-href="/carriers/new")
		i.icon.icon-plus-sign
		| &nbsp;Nový přepravce

div.content-main
	spinner(show="loadingData", align="center")

	div.table-container(ng-show="totalItems > 0")
		div.table-pager
			my-pagination

			span.items-count Počet záznamů na stránku:
				select(ng-model="itemsPerPage", ng-options="i for i in itemsPerPageList")

		table.table.table-bordered(
			sortable-table,
			sort-column="sort.column",
			sort-dir="sort.dir",
			ng-class="{loading: loadingData}"
		)
			tr(ng-repeat="carrier in carriers")
				td(data-title="Logo")
					img.carrier-logo(ng-show="carrier.logo.length > 0",ng-src="{{makeLogoUrl(carrier)}}")

				td(data-title="Název", sortable="name") {{carrier.name}}

				td.cell-center(data-title="Status", sortable="disabled", ng-switch="carrier.disabled")
					i.icon-ok(ng-switch-when="false")
					i.icon-remove(ng-switch-when="true")

				td(data-title="Vytvořeno", sortable="lastModified") {{carrier.lastModified | date: 'd.M.yy H:mm'}}

				td.icon.btn-toolbar
					a.btn.btn-info(ng-click="editCarrier(carrier)", href="#")
						span.icon-pencil

					a.btn.btn-danger(ng-click="removeCarrier(carrier)", href="#")
						span.icon-remove-sign

		div.table-pager
			my-pagination

			span.items-count Počet záznamů na stránku:
				select(ng-model="itemsPerPage", ng-options="i for i in itemsPerPageList")
