
<form name="form" novalidate="novalidate" class="login-form">
  <div class="modal-header">
    <h4>Přihlášení</h4>
  </div>
  <div class="modal-body">
    <div ng-show="authReason" class="alert alert-warning">{{authReason}}</div>
    <div ng-show="authErrors.length" class="alert alert-error">
      <div ng-repeat="err in authErrors" class="msg">{{err}}</div>
    </div>
    <div class="alert alert-info">Vyplňte, prosím, vaše přihlašovací údaje</div>
    <label>Login</label>
    <input name="login" type="text" ng-model="user.login" required="required" autofocus="autofocus"/>
    <label>Heslo</label>
    <input name="pass" type="password" ng-model="user.password" required="required"/>
  </div>
  <div class="modal-footer">
    <button ng-click="login()" ng-disabled="form.$invalid" class="btn btn-primary login">Přihlásit se</button>
    <button ng-click="clearForm()" class="btn clear">Smazat</button>
    <button ng-click="cancelLogin()" class="btn btn-warning cancel">Zavřít</button>
  </div>
</form>