ul.nav.pull-right
	li.divider-vertical
		li(ng-show="isAuthenticated()")
			a(href="#") {{currentUser.firstName}} {{currentUser.lastName}}
				span(ng-if="isAdmin()")&nbsp;(administrátor)
		li.logout(ng-show="isAuthenticated()")
			form.navbar-form
				button.btn.logout(ng-click="logout()") Odhlásit
		li.login(ng-hide="isAuthenticated()")
			form.navbar-form
				button.btn.login(ng-click="login()") Přihlásit
