@import "_variables";

h1 {
	margin-bottom: 20px;
}

table {
	thead {
		th {
			&.sortable {
				background: url('/static/img/sortable.gif') no-repeat center right;
				cursor: pointer;
			}

			&.sorted {
				background-color: #F5F5F5 !important;

				&.asc {
					background: url('/static/img/asc.gif') no-repeat right center;
				}

				&.desc {
				    background: url('/static/img/desc.gif') no-repeat right center;
				}
			}
		}
	}
}

.pagination {
	cursor: pointer;
}

.control-group {
	.text-error {
		padding-left:10px;
	}
}

.content-main {
	position: relative;
}

.spinner-wrap {
	margin-top: 20px;
	width: 15px;
	margin-left: 15px;
}

td.icon {
	width: 85px;

	.btn-info {
		margin-right: 5px;
	}
}

tr:nth-child(even) {
	background: #f9f9f9;
}

.content-menu {
	padding-bottom: 20px;
}