h1 Seznam uživatelů

div.alert(ng-show="totalItems == 0 && !loadingData") Nejsou k dispozici žádné záznamy.

div.content-menu
	a.btn.btn-new(ng-href="/users/new")
		i.icon.icon-plus-sign
		| &nbsp;Nový uživatel

div.content-main
	spinner(show="loadingData", align="center")

	div.table-container(ng-show="totalItems > 0")
		div.table-pager
			my-pagination

			span.items-count Počet záznamů na stránku:
				select(ng-model="itemsPerPage", ng-options="i for i in itemsPerPageList")

		table.table.table-bordered(
			sortable-table,
			sort-column="sort.column",
			sort-dir="sort.dir",
			ng-class="{loading: loadingData}"
		)
			tr(ng-repeat="user in users")
				td(data-title="Login", sortable="login") {{user.login}}

				td(data-title="Jméno", sortable="firstName") {{user.firstName}}

				td(data-title="Příjmení", sortable="lastName") {{user.lastName}}

				td(data-title="E-mail", sortable="email") {{user.email}}

				td.cell-center(data-title="Administrátor", sortable="isAdmin", ng-switch="user.isAdmin")
					i.icon-ok(ng-switch-when="true")
					i.icon-remove(ng-switch-when="false")

				td(data-title="Vytvořeno", sortable="lastModified") {{user.lastModified | date: 'd.M.yy H:mm'}}

				td.icon.btn-toolbar
					a.btn.btn-info(ng-click="editUser(user)", href="#")
						span.icon-pencil

					a.btn.btn-danger(ng-click="removeUser(user)", href="#")
						span.icon-remove-sign

		div.table-pager
			my-pagination

			span.items-count Počet záznamů na stránku:
				select(ng-model="itemsPerPage", ng-options="i for i in itemsPerPageList")
