
<h1>Seznam uživatelů</h1>
<div ng-show="totalItems == 0" class="alert">Nejsou k dispozici žádné záznamy.</div>
<div class="content-menu"><a ng-href="/users/new" class="btn btn-new"><i class="icon icon-plus-sign"></i>&nbsp;Nový uživatel</a></div>
<div class="content-main">
  <spinner show="loadingData" align="center"></spinner>
  <div ng-show="totalItems &gt; 0" class="table-container">
    <table sortable-table="sortable-table" sort-column="sort.column" sort-dir="sort.dir" ng-style="getTableVisibilityStyle()" class="table table-bordered">
      <tr ng-repeat="user in users">
        <td data-title="Login" sortable="login">{{user.login}}</td>
        <td data-title="Jméno" sortable="firstName">{{user.firstName}}</td>
        <td data-title="Příjmení" sortable="lastName">{{user.lastName}}</td>
        <td data-title="E-mail" sortable="email">{{user.email}}</td>
        <td data-title="Administrátor" sortable="isAdmin" ng-switch="user.isAdmin" class="cell-center"><i ng-switch-when="true" class="icon-ok"></i><i ng-switch-when="false" class="icon-remove"></i></td>
        <td data-title="Vytvořeno" sortable="lastModified">{{user.lastModified | date: 'd.M.yy H:mm'}}</td>
        <td class="icon"><a ng-click="editUser(user)" href="#" class="btn btn-info"><span class="icon-pencil"></span></a><a ng-click="removeUser(user)" href="#" class="btn btn-danger"><span class="icon-remove-sign"></span></a></td>
      </tr>
    </table>
    <pagination total-items="totalItems" page="currentPage" max-size="5" on-select-page="selectPage(page)" items-per-page="itemsPerPage" num-pages="totalPages" boundary-links="true" class="pagination"></pagination>
    <div class="itemsCount">Počet záznamů na stránku:
      <select ng-model="itemsPerPage" ng-options="i for i in itemsPerPageList"></select>
    </div>
    <div class="total">Stránka: {{currentPage}} / {{totalPages}}</div>
  </div>
</div>