
<div ng-controller="HeaderCtrl" class="navbar">
  <div class="navbar-inner clearfix"><a ng-click="home()" class="brand pull-left">Letecká společnost s.r.o.          </a>
    <ul ng-show="isAuthenticated()" class="nav pull-left">
      <li ng-class="{active:isNavbarActive('flights')}"><a href="/flights">Seznam letů</a></li>
      <li ng-class="{active:isNavbarActive('account')}"><a href="/account">Nastavení účtu</a></li>
      <li ng-class="{active:isNavbarActive('admin'), open: isAdminMenuOpen}" ng-show="isAdmin()" class="dropdown"><a id="tools-menu" role="button" ng-click="isAdminMenuOpen = !isAdminMenuOpen" class="dropdown-toggle">Admin<b class="caret"></b></a>
        <ul role="menu" aria-labelledby="admin-menu" class="dropdown-menu">
          <li><a tabindex="-1" href="/admin/users" ng-click="isAdminMenuOpen=false">Editace uživatelů</a></li>
          <li><a tabindex="-1" href="/admin/flights" ng-click="isAdminMenuOpen=false">Editace letů</a></li>
          <li><a tabindex="-1" href="/admin/carriers" ng-click="isAdminMenuOpen=false">Editace dopravců</a></li>
          <li><a tabindex="-1" href="/admin/voice-portal-settings" ng-click="isAdminMenuOpen=false">Nastavení hlasového portálu</a></li>
        </ul>
      </li>
    </ul>
    <login-toolbar></login-toolbar>
    <ul class="nav pull-right">
      <li class="spinner-wrap">
        <spinner size="small" show="hasPendingRequests()"></spinner>
      </li>
    </ul>
  </div>
  <div>
    <ul class="breadcrumb">
      <li ng-repeat="breadcrumb in breadcrumbs.getAll()"><span class="divider"></span>
        <ng-switch on="$last"><span ng-switch-when="true">{{breadcrumb.name}}</span><span ng-switch-default="ng-switch-default"><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span></ng-switch>
      </li>
    </ul>
  </div>
</div>